<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!-- 1. local  -->
    <springProfile name="local">
        <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./logs/init_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>100MB</maxFileSize> <!-- 로그 파일의 최대 크기 (예: 100MB) -->
                <maxHistory>1</maxHistory> <!-- 최대 보관 기간 (예: 30일) -->
                <totalSizeCap>10GB</totalSizeCap> <!-- 로그 파일의 최대 용량 제한 (예: 10GB까지 보관) -->
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>
    <!-- 2. dev -->
    <springProfile name="dev">
        <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./logs/init_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>100MB</maxFileSize> <!-- 로그 파일의 최대 크기 (예: 100MB) -->
                <maxHistory>30</maxHistory> <!-- 최대 보관 기간 (예: 30일) -->
                <totalSizeCap>10GB</totalSizeCap> <!-- 로그 파일의 최대 용량 제한 (예: 10GB까지 보관) -->
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>
    <!-- 3. prod -->
    <springProfile name="prod">
        <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./logs/init_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>100MB</maxFileSize> <!-- 로그 파일의 최대 크기 (예: 100MB) -->
                <maxHistory>30</maxHistory> <!-- 최대 보관 기간 (예: 30일) -->
                <totalSizeCap>10GB</totalSizeCap> <!-- 로그 파일의 최대 용량 제한 (예: 10GB까지 보관) -->
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="local">
            <appender-ref ref="dailyRollingFileAppender" />
        </springProfile>
        <springProfile name="dev">
            <appender-ref ref="dailyRollingFileAppender" />
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="dailyRollingFileAppender" />
        </springProfile>
    </root>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="dailyRollingFileAppender" />
    </root>
</configuration>